<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Link -->
    <title>Notes Template</title>
</head>
<body>
    <div class = 'container'>
        <h1>'Templates' Folder is required</h1>
        <h1>Its the convention for python to locate the file</h1>
        <a href = '/adv'>Go to the Advanced Page</a>

        {% if name == 'kaysee' %}
            <h3>The name is : {{ name }}</h3>
            <!-- This is how you display your {{ name }} while connecting with the backend -->
            <!-- this displays info from /<name> route -->
        {% elif name == 'rachel' %}
            <h3>The name is : {{ name }}</h3>
        {% else %}
            <h3>Guess a different name</h3>
        {% endif %}


        {% for i in range(0, num, 1) %}
            <h1 class="text-danger">{{ name }}</h1>
            <!-- loops 8 times b/c the 'num' was set to 8 in server.py -->
        {% endfor %}
    </div>





    
</body>
</html>